body {
  margin: 0;
  padding: 0;
  background-color: #300a24;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.terminal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: #2c001e;
}

.output {
  flex-grow: 1;
  white-space: pre-wrap;
}

.prompt {
  color: #00ff00;
}

.input {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 90%;
}

form {
  display: flex;
  align-items: center;
}
